* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  color: #7c7c7c;
  box-sizing: border-box; }

body {
  margin: 5px 80px;
  color: #7c7c7c; }

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 15px 10px -20px #111; }
  nav .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  nav a:-webkit-any-link {
    text-decoration: none;
    color: #7c7c7c; }
  nav .header__nav-links {
    margin-left: 100px;
    display: flex;
    gap: 20px; }
  nav .header__nav-login {
    display: flex;
    gap: 20px;
    position: relative;
    top: -13px; }
  nav .header__nav-cart {
    background-color: #dcdcdc;
    position: relative;
    bottom: -18px; }
  nav .cart {
    width: 30px;
    height: 30px; }

.carousel {
  margin: 0px auto;
  position: relative;
  display: flex;
  height: 150%;
  width: 100%;
  overflow: hidden; }
  .carousel .carousel__btn {
    background-color: black;
    text-transform: uppercase;
    opacity: 50%;
    padding: 3px;
    border: none; }

.carousel__btn-dots {
  position: absolute; }

.carousel__btn-dot {
  height: 5px;
  width: 5px;
  margin-right: 10px;
  background-color: #7c7c7c;
  border: 2px black;
  border-radius: 50%;
  cursor: pointer; }

#categories .Categories-single:nth-child(odd) .card__categorie-img {
  order: 0; }

#categories .Categories-single {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  align-items: center;
  padding: 0px 100px;
  box-shadow: 0px 15px 10px -20px #111; }
  #categories .Categories-single h5 {
    font-size: 20px;
    color: black; }
  #categories .Categories-single p {
    color: black; }

#categories .card-body {
  text-align: center; }

#categories .card__categorie-img {
  height: 180px;
  width: 300px;
  order: 2; }

.cart-logo {
  cursor: pointer;
  width: 30px;
  height: 30px; }

footer {
  background-color: #dcdcdc;
  padding: 10px;
  color: black; }
